name: CI

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
      - '*'
  workflow_dispatch:
  schedule:
    # Run every Sunday at 05:53 UTC
    - cron: 53 5 * * 0

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f # v2.3.1
    with:
      envs: |
        - macos: py39-test-pytest50
        - linux: py39-test-pytest52
        - windows: py310-test-pytest62
        - macos: py311-test-pytest70
        - linux: py312-test-pytest80
        - windows: py313-test-pytest81
        - macos: py314-test-pytest90
        - linux: py314-test-pytestdev
