name: CI

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
      - '*'
  workflow_dispatch:
  schedule:
    # Run every Sunday at 05:53 UTC
    - cron: 53 5 * * 0

jobs:
  tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@d9b81a07e789d1b1921ab5fe33de2ddcbbd02c3f # v2.3.0
    with:
      envs: |
        - macos: py38-test-pytest50
        - linux: py38-test-pytest52
        - windows: py39-test-pytest53
        - macos: py39-test-pytest60
        - linux: py39-test-pytest61
        - windows: py310-test-pytest62
        - linux: py310-test-pytestdev
