name: Release

on:
  pull_request:
  push:
    tags:
      - '*'

jobs:
  publish:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@main
    if: ((github.event_name == 'push' && startsWith(github.ref, 'refs/tags')) || contains(github.event.pull_request.labels.*.name, 'Build wheels'))
    with:
      test_extras: test
      test_command: pytest $GITHUB_WORKSPACE/tests
    secrets:
      pypi_token: ${{ secrets.PYPI_API_TOKEN }}
